#header-nav {
    background-color: white;
    border-radius: 0;
    border: 3px solid black;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#collapsable-nav {
    margin-top: 15px;
}

#nav-list {
    background-color: lightblue;
}

#nav-list a {
    color: black;
    text-align: center;
    /*border-bottom: 3px solid black;*/
}

.infobox {
    border: 1px solid black;
    background-color: lightblue;
    height: 1000px;
    font-family: Helvetica;
    color: black;
    margin: 10px;
}

p {
    padding: 5px;
    text-align: center;
    margin: 0px;
    font-size: 125%;
}

section {
    padding: 10px;
    overflow: auto;
}